<div class="conteinar">
<div class="page-tittle">
    <div class="tittle">מודעות שאהבתי</div>
    <div class="button-acsses">
        <button class="acsses">
            <span>נגישות</span>
        </button>
    </div>
</div>
<div class="liked-wrapper">
    <div class="liked-tittle">
    <div class="little-title">מודעות נדל"ן</div>
    <div class="share">
        <button class="share-it">
            <span>שיתוף</span>
        </button>
    </div>
</div>
<div class="assets">
    <app-neches *ngFor="let asset of assets" [asset]="asset"></app-neches>
</div>
</div>
</div>
