* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

.body {
  width: 100%;
  height: 100%;
  background-color: #373737;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #373737;
  opacity: 0;
  transition: opacity .4s cubic-bezier(.25, .8, .25, 1);
  will-change: opacity;
}

.content {
  height: 100vh;
  display: grid;
  grid-template-columns: 70% 30%;
  opacity: 1;
  transform: scale(1);
  transition: all .4s cubic-bezier(.25, .8, .25, 1);
  transition-property: opacity, transform;
}

.right-content {
  background-color: #373737;
  padding: 10px 20px;
  vertical-align: top;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  width: 100%;
  height: calc(100% - 134px);
  background-color: #333;
  border: 2px solid #3f3f3f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}

.slideshow-container img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  padding: 10px 0;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.left-content {
  background-color: #3f3f3f;
  box-shadow: none;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 6;
  height: 50px;
  width: auto;
  color: #fff;
  align-items: center;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  line-height: 65px;
  text-align: center;
  font-weight: 500;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

.fullScreen {
  display: none;
  font-family: 'Rubik', sans-serif;
  position: absolute;
  top: 20px;
  left: 13px;
  z-index: 5;
  padding: 0;
  border-radius: 2px;
  background-color: #eee;
  color: #464646;
  min-width: 100px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px #464646;
  justify-content: space-around;
  align-items: center;
}

.fullScreen:hover {
  background-color: #b6b6b6;
}

.fullScreen svg {
  fill: #464646;
  stroke: transparent;
}

.adds {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adds img {
  width: 180px;
  height: 130px;
  border-radius: 4px;
}

.back-to-page {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 130px;
  height: 35px;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  background-color: #242424;
  font-size: 0.95rem;
  line-height: 1.0625rem;
  padding: 0;
  border: none;
  font-family: 'Rubik', sans-serif;
}

.x {
  margin-left: 5px;
  font-size: 1.5rem;
}

.title {
  position: absolute;
  top: 120px;
  left: 25px;
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: 500;
  line-height: 17px;
  text-align: right;
}