<div class="adds">
    <div class="add-container">
        <div class="image-container">
            <img src="https://tpc.googlesyndication.com/simgad/9138470264764967256?" alt="">
        </div>
        <div class="add-desc">
            <span class="desc">לקבלת הצעה</span>
        </div>
    </div>
    <div class="add-container">
        <div class="image-container">
            <img src="https://tpc.googlesyndication.com/simgad/16504158159246261584?" alt="">
        </div>
        <div class="add-desc">
            <span class="desc">משפחה שבוחרים</span>
        </div>
    </div>
    <div class="add-container">
        <div class="image-container">
            <img src="https://tpc.googlesyndication.com/simgad/13112500553060740143?" alt="">
        </div>
        <div class="add-desc">
            <span class="desc">תנאים מיוחדים</span>
        </div>
    </div>
    <div class="add-container">
        <div class="image-container">
            <img src="https://tpc.googlesyndication.com/simgad/605109734656602187?" alt="">
        </div>
        <div class="add-desc">
            <span class="desc">פרויקטים חדשים</span>
        </div>
    </div>
    <div class="add-container">
        <div class="image-container">
            <img src="https://tpc.googlesyndication.com/simgad/9994282146115727254?" alt="">
        </div>
        <div class="add-desc">
            <span class="desc">זה הבית שלי</span>
        </div>
    </div>
    <div class="add-container">
        <div class="image-container">
            <img src="https://tpc.googlesyndication.com/simgad/9739876201101784348?" alt="">
        </div>
        <div class="add-desc">
            <span class="desc">לפרוייקטים חדשים</span>
        </div>
    </div>
</div>
<div class="feed-tittle">
    <div class="real-estait">נדל"ן למכירה</div>
    <div class="real-estait_counter">מציג 23,546 מודעות</div>
</div>
<div class="adds-for-sale">
    <div class="add-for-sale">
        <div class="image-for-sale">
            <img src="https://pics.yad2.co.il/Pics/2020/07/20200719142326527.jpg" alt="">
        </div>
    </div>
    <div class="add-for-sale">
        <div class="image-for-sale">
            <img src="https://pics.yad2.co.il/Pics/2020/08/20200810151202909.jpg" alt="">
        </div>
    </div>    <div class="add-for-sale">
        <div class="image-for-sale">
            <img src="https://pics.yad2.co.il/Pics/2020/11/2020110110572317.jpg" alt="">
        </div>
    </div>
    <div class="add-for-sale">
        <div class="image-for-sale">
            <img src="https://img.yad2.co.il/Pic/202105/13/2_1/o/y2_1_02935_20210513150555.jpeg?l=7&c=3&w=195&h=117" alt="">
        </div>
    </div>
</div>